{% extends 'demo/navbar.html' %}
{% block content %}
<div>
    <style>
        body {
            background-image: url('../../static/demo/images/home.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</div>

<div class="jumbotron text-center ">
    <h2 class="mb-5 secondary-title">
        Let Pegasus Guide you Home Hello!!
    </h2>
    <div>
        <!--<input type="text" class="searchTerm" placeholder="Search">-->
        <form class="form-cont" method="post">
            {% csrf_token %}
            {{ context.form.city }}
            <button class="btn btn-sm btn-info">Go</button>
        </form>
    </div>

    <div class="col-12">
        <div class="wrap">
            <div class="search">

                <!--<a href={% url 'index' %}>-->
                <!---->
                <!--<button class="searchButton">-->
                <!--<i class="fa fa-search"></i>-->
                <!--</button>-->
                <!--</a>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}