{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/demo/css/main.css">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Document</title>
    <style>
        input[type='text'] {
            background: none;
            border: 0;
            border-bottom: 1px solid #35bdff;
            color: #fff;
            margin: 0 auto;
        }

        input[type='text']:focus {
            outline: none !important;
            border: none;
        }
    </style>
</head>
<body>

  <script>
   window.addEventListener('scroll', function () {
      document.querySelector('.block-left').style.marginTop =
        Math.max(-80) + 'px';
    }, false);

    function myFunction() {
        var input, filter, h1, small, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        h1 = document.getElementById("myUL");
        small = h1.getElementsByTagName("div");
        for (i = 0; i < small.length; i++) {
            a = small[i].getElementsByTagName("small")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                small[i].style.display = "";
            } else {
                small[i].style.display = "none";
            }
        }
    }
    

</script>
    
  <!-- nav bar -->
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top py-2">
      
        <a class="navbar-brand d-flex" href="#">
      
          <img class="rounded-circle" src="//unsplash.it/50/50" alt="" />
          <h4 class="mt-3 ml-3">Pegasus</h4>
        </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div>
            <form class="form-cont" method="post">
              {% csrf_token %}
              {{ context.form.city }}
              <!-- {{context.form.zip_code}}
              {{context.form.price}} -->
              <button class="btn btn-sm btn-outline-info text-white p-2 mt-2">
                <i class="fas fa-search"></i>
                  Go</button>
            <a href="#" class="btn btn-outline-info login-modal text-white" data-toggle="modal" data-target="#filterleModal">
                <i class="fas fa-filter"></i>
                Filter</a>
            </form>
           
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="ui inverted white button d-flex" href="#">
                <i class="home icon"></i>
                Home
              </a>
              </a>
            </li>
            <li class="nav-item">
              <a class=" ui inverted white button d-flex" href="#" data-toggle="modal" data-target="#exampleModal">
                <i class="add user icon"></i>
                Sign In</a>
            </li>
          </ul>
        </div>
      
      </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <span style="color:red">
                            {{ context.error_message }}
                        </span>
    
                    </div>
                    <form class="ui form" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label for="{{ context.form.username.id_for_lable }}">User Name</label>
                            {{ context.form.username }}
                        </div>
                        <div class="field">
                            <label>Password</label>
                            {{ context.form.password}}
                            <span style="color:red">
                                {{ context.error_message }}
                            </span>
                        </div>
                        <button class="ui blue button" type="submit">Sign In</button>
                    </form>
                </div>
                <div class="modal-footer">
                    Don't Have an Account ?
                    </button>
                    <a href="{% url 'create_account' %}" class='li-modal' data-dismiss="modal" aria-label="Close">Sign
                        Up</a>
                </div>
            </div>
        </div>
    </div>



<!-- sign up modal  -->

<div id="theModal" class="modal fade">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">

        </div>
    </div>
</div>


<!-- filter modal -->

<!--  -->
<div class="block-left">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 position-fixed" style="height:100%">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.9054564614885!2d-122.48039808446838!3d37.72189697976904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7db005c0e281%3A0xa57a7c9f946a45d3!2sSan+Francisco+State+University!5e0!3m2!1sen!2sus!4v1555471256045!5m2!1sen!2sus"
                        width="800" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
<div class="block-right" id="myUL" style="margin-top:100px;">
  
        <div class="container">
          <div class="row">
            {% if context.search_count %} {% for entry in context.search_results %}
            <div class="col-12">
                <div class="media">
                    <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                    <a href="{% url 'view_listing' listing_id=entry.pk %}">
                    <img class="d-flex align-self-start"
                         {% if entry.photo %}
                         src="{{ entry.photo.url }}"
                         {% endif %}
                         alt="Generic placeholder image">   
                    </a>
                    <div class="media-body pl-3">
                        <div class="price">${{ entry.price|floatformat:-2 }}
                            <small>{{ entry.residence.city }}</small>
                        </div>
                        <div class="stats">
                            <span><i class="fa fa-arrows-alt"></i>{{ entry.residence.size }} Sq ft</span>
                            <span><i class="fa fa-bath"></i>2 Bedrooms</span>
                        </div>
                        <div class="address">{{ entry.residence.address }}</div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <p class="col-12">No search results.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- footer -->
<!-- Site footer -->
<script>
//  $('.login-modal').on('click', function (e) {
//         e.preventDefault();
//         $('#filterleModal').modal('show').find('.modal-content').load($(this).attr('href'));
//       });
      $('.li-modal').on('click', function (e) {
            e.preventDefault();
            $('#theModal').modal('show').find('.modal-content').load($(this).attr('href'));
        });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>