{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/demo/css/main.css">
    <title>Document</title>
    <style>
        input[type='text'] {
            background: none;
            border: 0;
            border-bottom: 1px solid #35bdff;
            color: #fff;
            margin: 0 auto;
        }

        input[type='text']:focus {
            outline: none !important;
            border: none;
        }
    </style>
</head>
<body>
<script>
    window.addEventListener('scroll', function () {
        document.querySelector('.block-left').style.marginTop =
            Math.max(-108) + 'px';
    }, false);

    function myFunction() {
        var input, filter, h1, small, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        h1 = document.getElementById("myUL");
        small = h1.getElementsByTagName("div");
        for (i = 0; i < small.length; i++) {
            a = small[i].getElementsByTagName("small")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                small[i].style.display = "";
            } else {
                small[i].style.display = "none";
            }
        }
    }
</script>
<!-- nav bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top py-2">

    <a class="navbar-brand d-flex" href="#">

        <img class="rounded-circle" src="//unsplash.it/50/50" alt=""/>
        <h4 class="mt-3 ml-3">Pegasus</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <form class="form-cont" method="post">
            {% csrf_token %}
            {{ context.form.city }}
            <button class="btn btn-sm btn-info">Go</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="ui inverted white button d-flex" href="{% url 'index' %}">
              <i class="home icon"></i>
              Home
            </a>
            </a>
          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class=" ui inverted white button d-flex" href="{% url 'view_profile' %}">
              <i class="add user icon"></i>
              {{request.user.first_name}} {{request.user.last_name}} </a>
          </li>
          <li class="nav-item">
            <a class=" ui inverted white button d-flex" href="{% url 'logout' %}">
              <i class="add user icon"></i>
              Logout</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class=" ui inverted white button d-flex" href="{% url 'login' %}">
              <i class="add user icon"></i>
              Sign In</a>
          </li>
          <li class="nav-item">
            <a class=" ui inverted white button d-flex" href="{% url 'create_account' %}">
              <i class="add user icon"></i>
              Sign Up</a>
          </li>

          {% endif %}
        </ul>
    </div>

</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="ui form">
                    <div class="field">
                        <label>E-Mail Address</label>
                        <input type="email" name="email" placeholder="E-Mail Address"/>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter Password"/>
                    </div>
                    <button class="ui blue button" type="submit">Sign In</button>
                </form>
            </div>
            <div class="modal-footer">
                Don't Have an Account ?
                </button>
                <a href="#" data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal" aria-label="Close">Sign
                    Up</a>
            </div>
        </div>
    </div>
</div>


<!-- sign up modal  -->

<div class="modal fade " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="ui form">
                    <h4 class="ui dividing header">Shipping Information</h4>
                    <div class="field">
                        <label>Name</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="shipping[first-name]" placeholder="First Name">
                            </div>
                            <div class="field">
                                <input type="text" name="shipping[last-name]" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Date of brith</label>
                        <input type="text" name="shipping[first-name]" placeholder="">
                    </div>
                    <div class="field">
                        <label>Adress</label>
                        <div class="fields">
                            <div class="four wide field">
                                <input type="text" name="shipping[address]" placeholder="St Address">
                            </div>
                            <div class="four wide field">
                                <input type="text" name="shipping[address-2]" placeholder="city">
                            </div>
                            <div class="four wide field">
                                <input type="text" name="shipping[address-2]" placeholder="State">
                            </div>
                            <div class="four wide field">
                                <input type="text" name="shipping[address-2]" placeholder="zip">
                            </div>
                        </div>

                    </div>
                    <div class="field">
                        <label>Phone number</label>
                        <input type="text" name="shipping[first-name]" placeholder="(xxx)">
                    </div>

                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>I agree to the terms and conditions</label>
                        </div>
                    </div>
                    <div class="ui button" tabindex="0">Submit</div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- listing filter -->
<ul class="nav nav-tabs sticky-top filter bg-dark ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Bedrooms</a>
        <div class="dropdown-menu">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Bedrooms</h5>
                </div>
                <div class="card-body">
                    <div class="blue ui buttons">
                        <button class="ui button">1+</button>
                        <button class="ui button">2+</button>
                        <button class="ui button">3+</button>
                        <button class="ui button">4+</button>
                        <button class="ui button">5+</button>
                        <button class="ui button">6+</button>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">Apply</a>
                </div>
            </div>
        </div>
    </li>
    <!-- Price -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Any Price</a>
        <div class="dropdown-menu">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Price</h5>
                </div>
                <div class="card-body">
                    <h3 class="text-center text-muted">Price Range</h3>
                    <div id="rangeBox">
                        <div id="inputRange">
                            <input type="number" step="5" min="0" max="1000" placeholder="Min" id="min">
                            <input type="number" step="5" min="0" max="1000" placeholder="Max" id="max">
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">Apply</a>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Distance</a>
        <div class="dropdown-menu">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-muted">Distance Range</h4>
                    <div id="rangeBox">
                        <div id="inputRange">
                            <input type="number" step="5" min="0" max="1000" placeholder="Min" id="min">
                            <input type="number" step="5" min="0" max="1000" placeholder="Max" id="max">
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">Apply</a>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Home Type</a>
        <div class="dropdown-menu">
            <div class="card">
                <div class="card-body">

                    <a href="#" class="btn btn-primary mt-3">Apply</a>
                </div>
            </div>
        </div>
    </li>
</ul>
<!-- Listing  -->
<div class="block-left">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 position-fixed" style="height:100%">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.9054564614885!2d-122.48039808446838!3d37.72189697976904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7db005c0e281%3A0xa57a7c9f946a45d3!2sSan+Francisco+State+University!5e0!3m2!1sen!2sus!4v1555471256045!5m2!1sen!2sus"
                        width="800" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
<div class="block-right" id="myUL">
    <div class="container">
        <div class="row">
            {% if context.search_count %} {% for entry in context.listing_results %}
            <div class="col-12">
                <div class="media">
                    <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                    <a href={% url 'view_listing' listing_id=entry.pk %}>
                    <img class="d-flex align-self-start"
                         {% if entry.photo %}
                         src="{{ entry.photo.url }}"
                         {% endif %}
                         alt="Generic placeholder image">
                    </a>
                    <div class="media-body pl-3">
                        <div class="price">${{ entry.price|floatformat:-2 }}
                            <small>{{ entry.residence.city }}</small>
                        </div>
                        <div class="stats">
                            <span><i class="fa fa-arrows-alt"></i>{{ entry.residence.size }} Sq ft</span>
                            <span><i class="fa fa-bath"></i>2 Bedrooms</span>
                        </div>
                        <div class="address">{{ entry.residence.address }}</div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <p class="col-12">No search results.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- footer -->
<!-- Site footer -->

<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>